# Byte-compiled / optimized
__pycache__/
*.py[cod]
*.o
*.so

# Text edits
*.swp
*.swo
*.orig

# Training
outputs/
results/
demo/*.pth
demo/*.ply
log.txt

# Profiling
callgrind.out*
*.dSYM

# Misc
.DS_Store
